@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

.navi {
    position: relative;
    z-index: 10;
    img{
        width: 26%;
        margin-top: 19%;
        margin-left: -46%;
    }
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  h1 {
      font-family: 'Cinzel Decorative', cursive;
  }
}

.parallax-layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  img{
    position: absolute;
    height: 100vh;
    right: 0;
  }
}

.parallax-cover{
  background: black;
  position: fixed;
  top: 92%;
  left: 0;
  right: 0;
  height: 1000px;
  z-index: 2;
  padding-top: 57px;
  h1, p{
      color: white;
      margin: 0;
  }
  .main-head {
      margin-bottom: 34px;
  }
}

$parallaxLayers: 3;

@for $i from 0 through $parallaxLayers {
  $x: ($parallaxLayers - $i) / 2;
  .layer-#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}

.cities {
    width: 100vw;
    .citybox {
        width: 28%;
        display: inline-block;
        margin: 1%;
        .sw-image {
            background: url('./components/Home/stormwind2.jpg');
            background-position: center;
            background-size: cover;
            height: 150px;
            width: 100%;
        }
        .darn-image {
            background: url('./components/Home/darnasas1.jpg');
            background-position: center;
            background-size: cover;
            height: 150px;
            width: 100%;
        }
        .org-image {
            background: url('./components/Home/org1.jpg');
            background-position: center;
            background-size: cover;
            height: 150px;
            width: 100%;
        }
        img {
            max-height: 140px;
            margin-top: -66px;
            margin-bottom: 10px;
        }
    }
}