@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

.navi {
    height: 30px;
    margin: 0;
    padding-top: 20px;
    position: relative;
    z-index: 10;
    img{
        width: 200px;
    }
}

.parallax {
  perspective: 100px;
//   height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
}

.parallax-layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  img{
    position: absolute;
    height: 100vh;
    right: 0;
  }
}

.parallax-cover{
  background: black;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
  padding-top: 200px;
  h1, p{
      color: white;
      margin: 0;
  }
}

$parallaxLayers: 3;

@for $i from 0 through $parallaxLayers {
  $x: ($parallaxLayers - $i) / 2;
  .layer-#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}

.home-main-cities-container {
    position: absolute;
    z-index: 2;
    width: 100vw;
    h1 {
        font-family: 'Cinzel Decorative', sans-serif;
    }
    p {
        font-weight: lighter;
        font-size: 14px;
        margin-top: 10px;
    }
    .home-city-box {
        width: 100vw;
        height: 500px;
        .cityImage {
            height: 500px;
            display: inline-block;
            width: 65%;
            vertical-align: top;
        }
        .citySide {
            width: 35%;
            display: inline-block;
            vertical-align: top;
            .citySide-text {
                height: 300px;
                padding: 0 14%;
                img {
                    max-height: 140px;
                    margin-top: 15px;
                }
            }
            .citySide-img {
                height: 200px;
                width: 100%;
            }
        }
    }
    .darnassus {
        .cityImage {
            background: url('./components/Home/darnasas2.jpg');
            background-position: center;
            background-size: cover;
        }
        .citySide-img {
            background: url('./components/Home/darnasas1.jpg');
            background-size: cover;
            background-position: center;
        }
    }
    .stormwind {
        .cityImage {
            background: url('./components/Home/stormwind1.jpg');
            background-position: center;
            background-size: cover;
        }
        .citySide-img {
            background: url('./components/Home/stormwind2.jpg');
            background-size: cover;
            background-position: center;
        }
    }
    .orgrimmar {
        .cityImage {
            background: url('./components/Home/org1.jpg');
            background-position: center;
            background-size: cover;
        }
        .citySide-img {
            background: url('./components/Home/org2.jpg');
            background-size: cover;
            background-position: center;
        }
    }
}
